.tos{
	/*position: absolute;*/
	text-align: center;
}
body,html{
	height: 100%;
	position: relative;
}
.button{
	text-decoration: none;
	-webkit-appearance: button;
	background-color: #EEEEEE;
	background-image: linear-gradient(#FFFFFF, #DEDEDE);
	border: 1px solid #CCCCCC;
	border-radius: 3px;
	color: #333333;
	cursor: pointer;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	cursor: pointer;
	padding: 5px 10px;
}
#image-above-nav{
	width: 980px;
	height: 150px;
}
#nav{
	margin-bottom: 20px;
	position: absolute;
	top: 150px;
	width: 980px;
	background:gold;
}
#wrap{
	padding-top: 70px;
}
#start-a-test-btn{
	width: 200px;
	height: 60px;
	font-size: 25px;
	/*position: absolute;*/
	line-height: 45px;
	display: block;
	margin: 15px auto;
	margin-bottom: 30px;
}
.correct-answer{
	background-color: yellow;
}
.flyout{
	position: absolute;
	top: -10000px;
}
.center{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.center-x{
	position: relative;
	display: inline-block;
	left: 50%;
	transform: translate(-50%,0);
	-ms-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
}
#timer{
	font-size: 30px;
	font-weight: bold;
	width: 120px;
	height: 60px;
	display: inline-block;
	line-height: 60px;
	margin-top: 20px;
	border: 1px dashed black;
}
#feedback-form textarea{
	margin-top: 20px;
}
#loading-wrap h1{
	font-family: Arial, sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
	font-size: 18px;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}

#loading-wrap{
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}
#page-number{
	font-weight: bold;
}
.banner img{
	width: 50%;
	float: left;
}
#question-form textarea{
	width: 100%;
	margin-top: 30px;
	padding: 10px;
	border: 1px solid gold;
}
#question-form [type="text"]{
	border:1px solid gold;
	width: 22%;
	padding: 5px;
	margin: 0;
	float: left;
	margin-right: 39px;
	margin-top: 23px;
}
#question-form [name="option-d"]{
	margin-right: 0;
}
#question-form-wrap h3{
	font-size: 18px;
}
#question-form-wrap h4{
	font-size: 14px;
}
#topic-table{
	margin-bottom: 30px;
}
#topic-table thead{
	background-color: gold;
	height: 40px;
}
#topic-table thead td{
	padding: 10px;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
}
#topic-table tbody {
	text-align: left;
}
#topic-table tbody td{
	padding-top: 15px;
	padding-left: 15px;
	width: 25%;
}
#topic-table li{
	font-size: 14px;
	margin-bottom: 10px;
}